@define-color bg        #283044;
@define-color bg-alt    #39393A;
@define-color fg        #EDF0F5;
@define-color fg-alt    #70719c;
@define-color primary   #B8D0EB;
@define-color secondary #CC5803;
@define-color alert     #DF2935;
@define-color warn      #FDCA40;
@define-color okay      #B9CA4A;

@define-color ayu-red         #ff3333;
@define-color ayu-blue        #7aa6da;
@define-color ayu-green       #b9ca4a;
@define-color ayu-yellow      #ffcc66;
@define-color ayu-orange      #ffa759;

@define-color battleship-gray #9B9B93;
@define-color jet             #39393A;
@define-color tawny           #CC5803;
@define-color pear            #C2E812;
@define-color fuchsia-rose    #C94277;
@define-color columbia-blue   #B8D0EB;
@define-color sunglow         #FDCA40;
@define-color poppy           #DF2935;

@define-color background-alpha rgba(38, 38, 38, 0.98);

* {
   /* `otf-font-awesome` is required to be installed for icons */
   font-family:Mononoki Nerd Font Propo, FontAwesome, Bitstream Vera Sans Roman, Roboto, Helvetica, Arial, sans-serif;
   font-size: 18pt;
}

window#waybar {
   background-color: @background-alpha;
   color: @fg;
   font-weight: bold;
   transition-property: background-color;
   transition-duration: .5s;
}

window#waybar.hidden {
   opacity: 0.2;
}

/*
window#waybar.empty {
   background-color: transparent;
}
window#waybar.solo {
   background-color: #FFFFFF;
}
*/

window#waybar.termite {
   background-color: @bg;
}

window#waybar.chromium {
   background-color: @bg;
   border: none;
}

button {
   /* Use box-shadow instead of border so the text isn't offset */
   box-shadow: inset 0 3px transparent;
   /* Avoid rounded borders under each button name */
   border: none;
   border-radius: 0;
}

/* https://github.com/Alexays/Waybar/wiki/FAQ#the-workspace-buttons-have-a-strange-hover-effect */
button:hover {
   background: inherit;
   box-shadow: inset 0 3px @fg-alt;
}

#custom-launcher,
#custom-infolabel,
#custom-htop,
#custom-shot,
#custom-pick,
#wireplumber,
#battery,
#idle_inhibitor,
#network,
#backlight {
   margin: 0 .5em;
}

#custom-launcher,
#clock {
   padding: 0 1em 0 1em;
   background: @primary;
   /* background: #B8D0EB; */
   /* background: linear-gradient(127deg, rgba(184, 208, 235, 1) 50%, rgba(122, 166, 218, 1) 85%); */
   color: @bg;
   border-radius: 1em .2em 1.8em 1em;
}

#custom-launcher {
   padding: 0 1.5em 0 1em;
}

#window,
#group-tools-compact {
   padding: 0 1em 0 1em;
   margin: 0 5px 0 0;
   background: @primary;
   /* background: #7AA6DA; */
   /* background: linear-gradient(127deg, rgba(122, 166, 218, 1) 15%, rgba(184, 208, 235, 1) 50%); */
   color: @bg;
   border-radius: 1.8em 1em 1em .2em;
}

#group-tray {
   padding: 0 0 0 1em;
   margin: 0 0 0 0;
   background: @primary;
   /* background: #7AA6DA; */
   /* background: linear-gradient(127deg, rgba(122, 166, 218, 1) 15%, rgba(184, 208, 235, 1) 50%); */
   color: @bg;
   border-radius: 1.8em 0 0 .2em;
}

#group-tools {
   padding: 0 1em 0 0;
   margin: 0 5px 0 0;
   background: @primary;
   color: @bg;
   border-radius: 0 1em 1em 0;
}

#tray {
   padding: 0 1em 0 1em;
   margin: .2em .1em;
   background-color: @bg;
   border-radius: 1em;
}

#workspaces button {
   /*        T   R   B   L  */
   padding: 0px .25em 0px .25em;
   margin: 0px .1em 0px .1em;
   background-color: transparent;
   color: @fg-alt;
}

#workspaces button:hover {
   background: rgba(0, 0, 0, 0.2);
}

#workspaces button.focused {
   color: @fg;
   /* background-color: @bg-alt; */
   /* box-shadow: inset 0 3px @blue; */
}

#workspaces button.urgent {
   color: @primary;
   background-color: @fg-alt;
}

#workspaces {
   /*        TB  RL */
   padding: 0 .1em;
   margin: 0 .25em;
}

/* If workspaces is the leftmost module, shorten left margin */
/* .modules-left > widget:first-child > #workspaces { */
/*    margin-left: 4px; */
/* } */

/* If workspaces is the rightmost module, shorten right margin */
/* .modules-right > widget:last-child > #workspaces { */
/*    margin-right: 4px; */
/* } */

#mode {
   padding: 0 .1em;
   margin: .1em .25em;
   border-radius: .2em;
   color: @bg;
   background-color: @secondary;
}

#scratchpad {
   color: @fg-alt;
   padding: 0 .1em;
   margin: .1em .25em;
}

#scratchpad.empty {
	background-color: transparent;
}

#mpris {
   padding: 0 .1em;
   margin:.1em .25em;
}

label:focus {
    background-color: #000000;
}

#pulseaudio {
   padding: 0 .25em 0 .1em;
   margin: .2em .25em;
}

#pulseaudio.icon {
   padding-right: .25em 
}

#pulseaudio.muted {
   background-color: @alert;
   color: @bg;
   padding: 0 .75em 0 .5em;
   margin: .2em .5em;
}

#battery.charging, #battery.plugged {
    color: @okay;
}

#battery.discharging {
    color: @secondary;
}

@keyframes blink-battery-alert {
    to {
        background-color: @bg;
        color: @alert;
    }
}

#battery.critical:not(.charging) {
   background-color: @alert;
   color: @bg;
   animation-name: blink-battery-alert;
   animation-duration: 0.5s;
   animation-timing-function: linear;
   animation-iteration-count: infinite;
   animation-direction: alternate;
   padding: 0 .75em 0 .5em;
   margin: .2em .5em;
}

#tray > .passive {
    -gtk-icon-effect: dim;
}

#tray > .needs-attention {
    -gtk-icon-effect: highlight;
    background-color: @alert;
}

#bluetooth {
   margin: 0 .5em 0 0;
   color: #0082fc;
}

#idle_inhibitor {
   color: @fg-alt;
   background-color: @bg-alt;
   border-radius: 1em;
   padding: 0 .1em 0 .1em;
   margin: .2em .5em .2em 0;
}

#idle_inhibitor.activated {
    background-color: @warn;
    color: @bg;
}

#keyboard-state > label.locked {
   padding: 0 .1em;
   margin: .1em .2em .1em .1em;
   background-color: @alert;
   color: @bg;
   font-weight: bold;
   border-radius: .2em;
}
